/problematicas/Ejercicio01/nbproject/private/
/problematicas/Ejercicio01/build/
/problematicas/Ejercicio02/nbproject/private/
/problematicas/Ejercicio02/build/
/problematicas/Ejercicio03/nbproject/private/
/problematicas/Ejercicio03/build/
/problematicas/Ejercicio04/nbproject/private/
/problematicas/Ejercicio04/build/
